.git
.gitignore
.env
.env.*
node_modules
npm-debug.log
public/hot
public/storage
storage/*.key
storage/debugbar
bootstrap/cache/*.php
!bootstrap/cache/.gitkeep
docker-compose.yml
Dockerfile
docs/
.DS_Store
Thumbs.db
