/.idea
/.vscode
/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor
.env
.env.docker
.env.backup
.env.testing
.phpunit.result.cache
*.log
.phpactor.json
/.codex
/.cursor/
/.nova
/.zed
/auth.json
/public/fonts-manifest.dev.json
/storage/pail
_ide_helper.php
Thumbs.db
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.DS_Store
.DS_Store
dump.rdb
dump.rb
/coverage
sftp-config.json
.subsplit
.php_cs.cache
cghooks.lock
yarn.lock
.phpunit.cache/
bootstrap/cache/*.php
!bootstrap/cache/.gitkeep
storage/framework/cache/data/*
!storage/framework/cache/data/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
storage/logs/*
!storage/logs/.gitkeep

# Documentation (specs, tracking, etc)
/docs/
