includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app/Models
        - app/Services
        - app/Http
        - app/Policies
    excludePaths:
        - *.blade.php
    checkMissingIterableValueType: false
